.section-1 {
    background: url('./img/section-1/header-banner.webp') no-repeat center center;
    height: 180px;
    margin: 30px 0px;
    background-size: cover;

    .container {
        display: flex;
        height: 180px;
        align-items: center;

        .content-text {
            color: $white;

            .header-banner-title {
                font-size: 36px;
            }

            .header-banner-subtitle {
                font-weight: 400;
            }

            @media ($mobile-l) {
                .header-banner-title {
                    font-size: 24px;
                }

                .header-banner-subtitle {
                    font-size: 12px;
                }
            }
        }

        @media ($mobile-l) {
            .content-text {
                width: 65%;
            }
        }
    }

    @media ($mobile-l) {
        .container {
            height: 140px;
        }
    }
}

@media ($mobile-l) {
    .section-1 {
        background: url('./img/section-1/header-banner-mobile.webp') no-repeat center center;
        background-size: cover;
        height: 140px;
    }
}


.section-2 {
    padding: 20px 0px;

    .container {
        display: flex;
        justify-content: space-between;

        .content-img {
            img {
                border-radius: 20px;
            }

            @media ($mobile) {
                img {
                    border-radius: 0px;
                }
            }
        }

        .content {
            max-width: 60%;
            padding-left: 20px;

            .content-text {
                h2 {
                    font-family: $telefonica-light;
                    font-weight: 300;
                    font-size: 50px;
                    text-align: center;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 18px;
                }
            }

            @media ($mobile) {
                .content-text {
                    h2 {
                        font-family: $telefonica-bold;
                        font-size: 24px;
                        margin: 24px 0px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }
        }

        @media ($mobile) {
            .content {
                max-width: 100%;
            }
        }
    }

    @media ($mobile) {
        .container {
            display: block;
            padding: 0px;
        }
    }
}

.section-3 {
    padding: 20px 0px;

    .container {
        .content-title {
            h2 {
                font-family: $telefonica-light;
                font-weight: 300;
                font-size: 24px;
                text-align: center;
                margin-bottom: 40px;

                strong {
                    position: relative;
                }

                strong:after {
                    content: '';
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    height: 3px;
                    border-radius: 3px;
                    background-color: #E63780;
                    position: absolute;
                }
            }

            p {
                font-size: 18px;
            }
        }

        .content-card {
            ul {
                li {
                    margin-right: 20px;

                    a {
                        position: relative;

                        .ico-section-3 {
                            position: absolute;
                            max-width: 55px;
                            right: 0;
                            top: 15px;
                        }

                        .box-text {
                            position: absolute;
                            text-align: center;
                            bottom: 40px;
                            right: 0;
                            left: 0;
                            color: #fff;

                            h3 {
                                font-family: $telefonica-extralight;
                                font-weight: 300;
                                font-size: 22px;
                            }

                            .offer {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 10px 0;

                                p {
                                    padding: 0px 10px;
                                }

                                .icon-left-arrow {
                                    background: url(./img/section-3/right-arrow.webp) no-repeat center center;
                                    width: 14px;
                                    height: 14px;
                                }
                            }
                        }

                        @media ($mobile) {
                            .ico-section-3 {
                                width: 50%;
                            }

                            .box-text {
                                bottom: 60px;
                            }
                        }

                        @media ($mobile) {
                            .box-text {
                                bottom: 25px;
                            }
                        }
                    }
                }

                .slick-dots {
                    display: none;
                    margin: 10px 0;
                    padding: 0;
                    justify-content: center;

                    li {
                        margin: 0;

                        button {
                            width: 20px;
                            height: 20px;
                            color: transparent;
                            border: 0;
                            outline: none;
                            background: transparent;
                        }

                        button:before {
                            font-size: 40px;
                            line-height: 20px;
                            content: '•';
                            color: $gris-dots;
                            -webkit-font-smoothing: antialiased;
                        }
                    }

                    .slick-active {
                        button:before {
                            opacity: .75;
                            color: $black-dots;
                        }
                    }
                }

                @media ($mobile) {
                    .slick-dots {
                        display: flex;
                    }
                }

            }
        }

        .content-text {
            margin: 30px 0px;

            p {
                font-size: 18px;
            }
        }
    }
}

.section-4 {
    margin: 20px;

    .container {
        background: url('./img/section-4/img-section-4.webp') no-repeat center center;
        border-radius: 10px;
        padding: 0px;
        height: 140px;

        .banner {

            display: flex;
            align-items: center;
            justify-content: end;
            height: 130px;


            .banner-text {
                width: 45%;
                text-align: center;

                h2 {
                    font-weight: 300;
                }

            }

            .banner-button {

                .button {
                    color: $white;
                    background-color: $azul;
                    border-radius: 50px;
                    padding: 12px 100px;
                    margin: 0px 20px;
                    text-align: end;
                }


            }

            @media ($mobile) {
                .banner-text {
                    width: 60%;

                    h2 {
                        font-size: 16px;
                    }

                    @media ($mobile-s) {
                        h2 {
                            font-size: 12px;
                        }
                    }
                }

                .banner-button {
                    width: 60%;
                    text-align: center;
                    margin-top: 10px;

                    .button {
                        font-size: 14px;
                        padding: 9px 50px;
                        margin: 0px;
                        text-align: center;
                    }

                    @media ($mobile-s) {
                        .button {
                            font-size: 12px;
                            padding: 8px 40px;
                        }
                    }
                }
            }
        }

        @media ($mobile) {
            .banner {
                flex-wrap: wrap;
                align-items: flex-end;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    @media ($mobile) {
        .container {
            background: url('./img/section-4/img-section-4-mobile.webp') no-repeat center center;
            background-size: cover;
        }
    }
}

.section-5 {
    padding: 20px 0px;

    .container {
        .content-title {
            h2 {
                font-family: $telefonica-bold;
                font-size: 24px;
                text-align: center;
                margin-bottom: 30px;
            }
        }

        .content-card {
            ul {
                li {
                    margin-right: 20px;

                    .card {
                        padding: 20px;
                        position: relative;
                        background: $white;
                        border-radius: 7px;

                        border-top: 4px solid #0B2739;

                        .ico-section-5 {
                            max-width: 45px;
                            margin: auto;
                        }

                        .box-text {
                            text-align: center;
                            margin: 20px 0px;

                            .card-title {

                                font-family: $telefonica-light;
                                font-weight: 300;
                                font-size: 18px;

                            }

                            .card-button {

                                margin-top: 40px;

                                .button {
                                    color: $white;
                                    padding: 12px 30px;

                                    border-radius: 50px;
                                    background: $background-banner;
                                }
                            }

                            @media ($mobile-s){
                                .card-text{
                                    font-size: 13px
                                }
                            }
                        }
                    }
                }

                .slick-dots {
                    display: none;
                    margin: 10px 0;
                    padding: 0;
                    justify-content: center;

                    li {
                        margin: 0;

                        button {
                            width: 20px;
                            height: 20px;
                            color: transparent;
                            border: 0;
                            outline: none;
                            background: transparent;
                        }

                        button:before {
                            font-size: 40px;
                            line-height: 20px;
                            content: '•';
                            color: $gris-dots;
                            -webkit-font-smoothing: antialiased;
                        }
                    }

                    .slick-active {
                        button:before {
                            opacity: .75;
                            color: $black-dots;
                        }
                    }
                }

                @media ($mobile) {
                    .slick-dots {
                        display: flex;
                    }
                }

            }
        }

        .content-text {
            margin: 30px 0px;

            p {
                font-size: 18px;
            }
        }
    }
}

.section-6 {
    padding: 20px 0px;

    .container {
        .content-title {
            h2 {
                font-family: $telefonica-extralight;
                font-size: 24px;
                text-align: center;
                margin-bottom: 30px;
            }
        }

        .content-card {
            ul {
                li {
                    margin-right: 20px;
                    background: $gris-claro;
                    border-radius: 15px;

                    a {
                        padding: 20px;
                        margin: auto;
                        max-width: fit-content;
                        height: 121px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    @media ($mobile-s) {
                        a {
                            height: 90px;
                        }
                    }

                }

                .slick-dots {
                    display: none;
                    margin: 10px 0;
                    padding: 0;
                    justify-content: center;

                    li {
                        margin: 0;
                        background: transparent;

                        button {
                            width: 20px;
                            height: 20px;
                            color: transparent;
                            border: 0;
                            outline: none;
                            background: transparent;
                        }

                        button:before {
                            font-size: 40px;
                            line-height: 20px;
                            content: '•';
                            color: $gris-dots;
                            -webkit-font-smoothing: antialiased;
                        }
                    }

                    .slick-active {
                        button:before {
                            opacity: .75;
                            color: $black-dots;
                        }
                    }
                }

                @media ($mobile) {
                    .slick-dots {
                        display: flex;
                    }
                }

            }
        }

        .content-text {
            margin: 30px 0px;

            p {
                font-size: 18px;
            }
        }
    }
}