$white: #fff;
$gris: #86888C;
$gris-claro: #FAFAFA;
$gris-claro-2: #F5F5F5;
$gris-claro-3: #CED4D7;
$gris-dots: #CED4D7;
$bordes-gris: #D3D4D3;
$black: #1D1D1F;
$black-dots: #030B10;
$azul: #019DF4;
$azul-oscuro: #3C5261;
$background-banner: #0B2739;
$magento: #E63780;

$background-menu-phone: #EBEBEB;
$background-header-phone: #F3F3F3;

$laptop-l: 'max-width: 1440px';
$laptop: 'max-width: 1024px'; 
$mobile: 'max-width: 768px';
$mobile-l: 'max-width: 426px';
$mobile-m: 'max-width: 375px';
$mobile-s: 'max-width: 320px';

$telefonica-regular: TelefonicaWeb-Regular;
$telefonica-light: TelefonicaWeb-Light;
$telefonica-extralight: TelefonicaWeb-ExtraLight;
$telefonica-bold: TelefonicaWeb-Bold;

// $spinner-5g: url('./img/5g-spinner-plan-card-offers.svg');